@media screen and (max-width: 1024px) {
	#projects {
		flex-direction: column;
	}

	.logo {
		height: auto;
		max-width: 90vw;
		object-fit: cover;
	}

	#about {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: "maleImg" "maleText" "femaleImg" "femaleText";
	}
}

@media only screen and (max-width: 992px) {
	.nav {
		top: auto;
		bottom: 0;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		background: var(--colour-secondary);
	}

	.nav-link {
		margin: 0;
		padding: 0;
	}

	.nav-link > p {
		display: none;
	}

	.avatar {
		max-width: 90vw;
	}

	.about-text {
		padding: 5%;
	}

	.card {
		max-width: 90vw;
	}

	.header {
		display: block;
	}
}
