@media screen and (max-width: 2560px) {
}

@media screen and (max-width: 1440px) {
	.about-text {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 1024px) {
	.projects {
		flex-direction: column;
	}

	.logo {
		object-fit: cover;
	}

	.avatar {
		max-width: 60%;
	}

	.about {
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr 2fr 1fr;
		grid-template-areas: "maleImg" "maleText" "femaleImg" "femaleText";
		text-align: center;
	}

	.about > .section-title:nth-child(1) {
		left: 50%;
	}

	.skills > .section-title:nth-child(1) {
		left: 50%;
	}

	.about-text {
		margin: 0;
		padding: 0;
	}

	.section-title {
		left: 50%;
		transform: translateX(-50%);
		width: 50vw;
	}
}

@media only screen and (max-width: 992px) {
	.nav {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}

	.contact-link {
		border: none;
	}

	.contact-link::before {
		display: none;
	}

	.about {
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	.nav-link > p {
		display: none;
	}

	.nav-link > i {
		display: flex;
	}

	.nav-link {
		padding: 0;
	}

	.nav-link::after {
		display: none;
	}

	.about-text {
		padding: 5%;
	}

	.card {
		max-width: 90vw;
	}

	.header {
		bottom: 2vh;
		left: 50vw;
		transform: translateX(-50%);
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		width: 50vw;
		top: auto;
		background: var(--colour-two);
	}

	.footer {
		grid-template-columns: 1fr 2fr;
	}
}

@media screen and (max-width: 600px) {
	.about-text {
		font-size: 1rem;
	}

	.section-title {
		text-align: center;
	}

	.card {
		max-width: 75%;
		max-height: 75%;
	}

	.home {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
		grid-template-areas: "logo" "words";
	}

	.home-text-div {
		text-align: center;
	}

	.home-text-div > div {
		justify-content: center;
	}

	.home-text {
		padding: 0;
	}

	.about {
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	.footer {
		grid-template-columns: 1fr 1fr;
	}

	.card {
		height: 75vw;
	}

	.skills {
		flex-direction: column;
	}

	.list {
		margin-bottom: 1%;
	}

	.contact > h2 {
		text-align: center;
	}
}
