.skills {
	position: relative;
	overflow: visible;
}

.skills > .section-title:nth-child(1) {
	left: 15vw;
}

.list {
	margin: 0 1%;
	padding: 0 1%;
	background: #287586;
	height: 30rem;
	width: 15rem;
	text-align: center;
}

.list > h3,
.list > p,
.list > ul {
	padding-bottom: 10%;
}

.list > h4 {
	padding-bottom: 5%;
}
