:root {
	--colour-primary: #282828;
	--colour-secondary: #6e6e6e;
	--colour-tertiary: #ffffff;
	--colour-accent: #008b8b;

	--border-radius: 5%;

	--nav-width: 200px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--colour-secondary);
}

::-webkit-scrollbar-thumb {
	background: var(--colour-primary);
}

html {
	scroll-behavior: smooth;
	background: var(--colour-secondary);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

a {
	text-decoration: none;
	color: var(--colour-primary);
}

a:hover {
	color: var(--colour-accent);
}

li {
	list-style-type: none;
}

form {
	display: flex;
	width: 65%;
	flex-direction: column;
	margin: 4% 0;
	padding: 2%;
	background: var(--colour-primary);
	color: var(--colour-secondary);
}

p {
	overflow: hidden;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fill {
	height: 100%;
	width: 100%;
}

.rounded-border {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.section {
	color: var(--colour-primary);
	width: 100vw - var(--nav-width);
	border: red solid 1px;
	background: var(--colour-secondary);
	margin-left: var(--nav-width);
	flex-direction: column;
}

.card {
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.card:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	font-size: 2em;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background: var(--colour-primary);
}

.overlay a {
	color: var(--colour-accent);
	flex-direction: column;
}

.form-element {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.form-input {
	margin: 1% 0;
	width: 75%;
	overflow: hidden;
	resize: vertical;
}

input {
	height: 30px;
}

form input[type=submit] {
	width: 100%;
	color: var(--colour-primary);
	background: var(--colour-accent);
}

textarea {
	height: 150px;
}

.socials {
	width: 100%;
}

.socials a {
	font-size: 40px;
}

.socials li {
	margin: 1%;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: var(--nav-width);
	flex-direction: column;
	background: var(--colour-primary);
	font-size: 1.4em;
}

.nav a {
	position: relative;
	width: 100%;
	color: var(--colour-secondary);
	display: flex;
	align-items: center;
	margin: 5% 0;
}

.nav i {
	width: 35%;
	font-size: 1.2em;
	text-align: center;
}

.nav p {
	font-size: 0.8em;
	width: 65%;
	padding-left: 10%;
}

.nav a:hover {
	color: var(--colour-accent);
}

#home {
	flex-direction: column;
	height: 20vh;
}

@media screen and (max-width: 600px) {
	:root {
		--nav-width: 70px;
	}

	.nav p {
		position: absolute;
		padding: 0;
		font-size: 1em;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		color: var(--colour-accent);
		z-index: 100;
	}

	.nav a:hover .nav p {
		opacity: 1;
	}

	.nav i {
		width: 100%;
	}
}

@media screen and (max-width: 900px) {
}
